/*html,body,ul{
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
ul{
    height: 100%;
}
a {
    text-decoration: none;
}
html{
    height: 100%;
}
#container {
    width: 100%;
    height: 100%;
    position: absolute;
}

img {
    max-width: 100%;
}

.title {
    text-align: center;
}*/

/*#app {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}



#scrollArea {
    
    overflow: auto;
    height: 100%;
}*/

#list a:link { 
    color:#000; 
    text-decoration:none; 
} 
#list a:visited { 
    color:#b2b2b2; 
    text-decoration:none; 
} 
#list a:hover { 
    color:#000; 
    text-decoration: none; 
} 
#list a:active { 
    color:#b2b2b2; 
    text-decoration:none; 
}   

#list .stories-tip {
    background: none;
    text-align: left;
    margin-left: .5rem;
    font-size: 1.1rem;
    color: #757373;
}


#app {
    height: 100%;
    background: rgb(240, 240, 240); 
    -webkit-overflow-scrolling: touch;
}
#content {
    /*height: calc(100% + 56px);*/
    height: 100%;
}
#scrollArea {
    background: rgb(240, 240, 240);
    overflow: auto;
    height: 100%;
    text-align: center;
}
#container {
    padding-bottom: 1.4rem;
}

#slide-out li .slide-list {
    width: 50%;
}

#slide-out li img {
    width: 3rem;
}

.slide-left {
    float: left;
    margin-right: 1rem;
    margin-top: 3px;
}

.slide-left-icon {
    float: left;
    margin-top: 11px;
    margin-right: 2px;
}

.slide-left-icon-home{
    margin-right: 1rem;
}


.color-white {
    color: #fff;
}
.color-blue {
    color: #039be5;
}

.i-b {
    display: -webkit-inline-box !important;
}

#dropdown1 {
    width: 200px;
}

#dropdown1 a {
    color: #000;
}

.slider  ul.indicators {
    z-index: 2;
    bottom: .1rem;
}
.slider {
   height: 14rem; 
}

.slider .indicators .indicator-item {
    height: .5rem;
    width: .5rem;
    margin: 0 .2rem;
}

.slider .indicators .indicator-item.active {
    background-color: #fff;
}

.banner-text {
    text-align: left;
    font-size: 1.4rem;
    margin: 8rem 0 0 1rem;
}

.grey-text.text-lighten-3 {
    color: #fff !important;
}



#list {
    padding: .5rem;
}
.p-5{
    padding: 1rem 2rem  .7rem 1rem;
}
.m-r-1 {
    margin: 0 1rem 0 0;
}

.c-radius {
    border-radius: 5px;
}

#list li{
    width: 100%;
    background: #fff;
    margin-bottom: 1rem;
}

#list a{
    display: -webkit-inline-box;
    width: 100%;
    color: #000;
    font-size: 1.2rem;
}

#list p{
    width: 72%;
    padding-top: .3rem;
    text-align: left;
}

#list img {
    width: 6rem !important;
    height: 5.4rem;
}


#detail {
    background: #fff;
}

#detail-content {
    width: 100%;
}

.detail-loading {
    width: 100%;
    text-align: center;
}

#detail-content img {
    max-width: 100%;
}

#detail .banner {
    background-size: cover;
    height: 200px;
    width: 100%;
    background: 10%;
    overflow: hidden;
    padding: 10rem 0 0;
}

.slider .slides li .caption {
    top: 11%;
    left: 0; 
    width: 100%;
}
.slider .slides li img {
    background-position: center 39%;
}

#detail .title {
    display: block;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
    margin: 0;
    padding: 0 1rem;
}


#detail .comment-count-icon {
    display: inline-block;
}

#detail .comment-count {
    margin-left: 9px;
    display: -webkit-inline-box;
    padding-bottom: 26px;
    line-height: 30px;
    height: 28px;
}

#detail #loading {
    top: 50%;
    margin: 0 auto;
    position: absolute;
}

#comment {
    background: #fff;
}

#comment-content {
    width: 100%;
}

#comment-content li {
    width: 100%;
    border-bottom: solid 1px #eee;
}

#comment-content img {
    width: 4rem;
    float: left;
    border-radius: 50%;
}

#comment-content .name {
    font-size: 1.2rem;
    font-weight: 700;
}

#comment-content p {
    font-size: 1rem;
    margin: .5rem 0;
}

#comment-content .m-l-7{
    margin-left: 4.5rem;
}
#comment-content .time {
    font-size: .8rem;
    color: #d0c8c8;
    font-weight: 300;
}
