*{
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

#app {
    padding: .8rem;
    .article{
        width: 100%;
        .title{
            font-size: 1.2rem;
        }
        .time {
            font-size: .8rem;
        }
        .content {
            width: 100%;

        }
    }
}