body {
	margin: 0;
	padding: 0;
}

.bottom-nav {
	bottom: 0;
    position: fixed;
    width: 100%;
}

.app-nav-bar{
    position: fixed !important;
}

.nav-tab {
    top: 64px;
    width: 100%;
}

.app-nav-tab{
    width: 100%;
    top: 64px;
    position: fixed;
    z-index: 2;
}

.app-nav-list{
    padding-top: 106px !important;
}


